body {
    background-color: #E2E2E2;
    height: 100vh;
    overflow: hidden;
}

.design {
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#rightPanelContent {
    color: #fff;
}

.imgContainer {
    position: relative;
    overflow: hidden;
}
  
.imgContainer img {
    max-width: 100%;
    max-height: 100%;
    height: 80%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

#leftPanel {
    position: relative;
    overflow: hidden;
}

.leftPanelcontent img {
    max-height: 100%;
    object-fit: cover;
    
}

.midPanel {
    width: 35vw;
    height: 80vh;
    margin-left: 20vw;
    border-radius: 24px;
    background: #fff;
    box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 1;
    position: absolute;
    transition: 1s;
}

.fontSizeSignIn {
    font-size: 1.2vw;
}

.fontSizeSignInFogot {
    font-size: 0.9vw;
}

.midPanelsignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 80vh;
    margin-left: 20vw;
    position: absolute;
    opacity: 1;
    border-radius: 49px;
    background: #7E30E1;
    box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 1s;
}

.rightPanel {
    width: 35vw;
    height: 65vh;
    margin-left: 20vw;
    position: absolute;
    border-radius: 0 24px 24px 0;
    background: #7E30E1;
    transition: 1s;
    
}

.rightPanelWhite {
    width: 35vw;
    height: 65vh;
    margin-left: 55vw;
    position: absolute;
    border-radius: 0 24px 24px 0;
    background: #fff;
    transition: 1s;
    
}

.rightPanels1 {
    width: 35vw;
    height: 65vh;
    position: absolute;
    margin-left: 20vw;
    opacity: 0;
    border-radius: 0 24px 24px 0;
    background: #7E30E1;
    transition: 1s; 
}

.rightPanels1b {
    width: 35vw;
    height: 65vh;
    margin-left: 55vw;
    position: absolute;
    border-radius: 0 24px 24px 0;
    background: #7E30E1;
    
}

.rightPanels2 {
    width: 35vw;
    height: 65vh;
    margin-left: 55vw;
    position: absolute;
    border-radius: 0 24px 24px 0;
    background: #7E30E1;
    opacity: 1;
    transition: 1s;
}

.leftPanel {
    width: 20vw;
    height: 65vh;
    margin-left: 20vw;
    position: absolute;
    border-radius: 44px;
    background-color: #FFF;
    box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 1s;
    
    
}

.gray-100 {
    filter:grayscale(100%);
}

.gray-0 {
    filter:grayscale(0%);
}

.menubar:hover {
    filter:grayscale(0%);
    transition: 0.5s;
}


.rightPanel_anime {
    animation: moverightPanel 1s linear forwards;
    
}

.leftPanel_anime { 
    animation: moveleftPanel 1s linear forwards;
}

@keyframes moveleftPanel {
    100% {
        opacity: 1;
        margin-left: 11vw;
    }
}

@keyframes moverightPanel {
    100% {
        opacity: 1;
        margin-left: 55vw;
    }
}


@media(max-width: 768px) {
    #rightPanel{
        display: none;
    }

    #leftPanel{
        display: none;
    }

    .midPanel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 60vh;
        margin-left: 0;
        background-color: #fff;
        box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: 1s;
    }

    .fontSizeSignIn {
        font-size: 3vw;
    }

    .fontSizeSignInFogot {
        font-size: 2vw;
    }

    .design {
        width: 100vw;
        height: 100vh; 
        display: flex;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    
}

