body {
    padding: 0;
    margin: 0;
    color: #EDEDED;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

.meterial-icons-outlined {
    vertical-align: text-top;
    line-height: 1px;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 0px 0px 10px;
    color: rgb(30, 101, 200) !important;
}


.material-icons-outlined, svg {
    width: 24px;
    height: 24px;
    color:  rgb(30, 101, 200);
}

@media (max-width: 768px) {
    .material-icons-outlined, svg {
        width: 20px;
        height: 20px;
    }
}


.header{
    grid-area: header;
    height: 70px;
    background-color: rgb(98, 90, 216);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0,0,0,0.35);
}

.grid-container {
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main-container main-container main-container";
    height: 100vh;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 60px auto;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

@media (max-width: 768px) {

    .header-right, .header-left {
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: 100%;
        align-items: center;
    }
} 

.menu-icon {
    display: none;
}

.header-icons {
    padding: 0 10px 0 0;
    vertical-align: super;
    font-size: 12px;
}

#sidebar {
    width: 220px;
    height: 100%;
    background-color: #ffffff;
    color: #643eeb;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.3s;
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    height: 100vh; 
}

@media (max-width: 768px) {
    #sidebar {
        width: 60px; 
    }

    #sidebar .sidebar-list-item span {
        display: none;
    }

    .sidebar-name {
        display: flex;
        justify-content: space-between;
        color: #ffffff;
    }
}
.sidebar-hidden {
    transform: translateX(-100%);
    position: absolute;
    z-index: 12;
    left: 0;
    top: 0;
    height: 100%;
    width: 260px;
}

.sidebar-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
}

.sidebar-name > span {
    display: none;
}

.sidebar-birthLink {
    margin-top: 5px;
    margin-left: 40px;
}

.txtBirth{
    font-size: 25px;
    font-weight: 600;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px;
    font-size: 10px;
    color:  rgb(23, 109, 230) !important;
}

.sidebar-list-item1 {
    padding: 20px;
    font-size: 10px;
    color:  rgb(23, 109, 230) !important;
}

.sidebar-list-item:last-child{
    margin-top: auto;
}
.sidebar-list-item:hover {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 20px;
    font-size: 10px;
    color:  rgb(255, 255, 255) !important;
}

.sidebar-list-item:hover .icon{
    fill:  rgb(255, 255, 255) !important;
}

.sidebar-list-item:hover .meterial-icons-outlined{
    color: #ffffff !important;
}

.sidebar-list-item .icon{
    fill:  rgb(23, 109, 230) !important;
}

.sidebar-list-item:hover {
    background-color: #74ebd5;
    color: #EDEDED !important;
    cursor: pointer;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

.sidebar .sidebar-list .logout{
    fill: rgb(23, 109, 230) !important;
}
.main-container {
    grid-area: main;
    overflow-y:hidden;
    background-color: rgba(255, 255, 255, 0.95);
    padding-left: 220px; 
    transition: padding-left 0.3s; 
    height: 100%;
}

.main-content {
    height: calc(100vh - 60px);
    width: 100%;
    overflow-y: hidden;
}

@media (max-width: 768px) {
    .main-container {
        padding-left: 60px;
    }
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
